header, body, .IdelBa{
    animation: fadeInDown 1s ease-out;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}
body{
    margin: 0;
    padding: 0;
    background-color:#fffbf0;;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedorheader {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    position: relative;
    background: linear-gradient(to right, rgb(253, 212, 163), #fff2eb);
    border-bottom: 2px solid #000000;
}
.boton a {
    animation: pulse 2s infinite;
    text-decoration: none;
    color: rgb(0, 0, 0);

    font-family: "Poppins", sans-serif;
    background-color: #FFB957;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}
.boton :hover{
    transform: translateY(-5px);
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #e74f57;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.5s;
}
.boton {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.tid img{
    display: block;
    justify-content: center; 
    align-items: center;     
    height: 50px;
    width: 100%;
    max-width: 400px;          
    margin: 0 auto;
}
.tid img:hover {
    transform: scale(1.05);
    transition: transform 0.6s ease;
    cursor: pointer;
}
.ItemsAD {
    flex: 1;
    display: flex;
    gap: 15px;
}
.ItemsAD img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.ItemsAD img:hover {
    transform: scale(1.3);
    transition: transform 0.6s ease;
    cursor: pointer;
}
.divBdA a {
    font-size: 20px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}
.divBdA a:hover {
    background-color: #e74f57;
    color: white;
    transform: translateY(-3px);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.5s;
}
.divBdA {
    background-color: #c72a2a;
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    align-items: center;
}
/*final del header*/


.IdelBa{
    height: 800px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.slider img{
    position: relative;
    width: 100%;
    height: 800px;
    object-fit:cover;
}
.slider, .slick-slide {
    width: 100%;
    height: 800px; 
    overflow: hidden;
}

.aviso{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 30%;
    left: 5%;
    position: absolute;
    text-align: center;
    color: white;
    padding: 5px 10px;
    max-width: 100%;
    max-height: 150px;
    gap: 20px;
}
.aviso h2, .aviso h3, .aviso a {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    max-height: 100px;
}
.contenedorde1,.contenedorde2,.contenedorde3 {
    text-shadow: 1px 1px 1px black;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
.contenedorde1 {
    color: white;
    font-size: 28px;
}
.contenedorde2 {
    align-self: center;
    color: #E74F57;
    font-size: 24px;
}
.contenedorde3 {
    align-self: center;
    font-size: 20px;
    background-color: bisque;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.5s;
}
.contenedorde3:hover {
    text-shadow: 1px 1px 2px black;
    transform: translateY(-5px);
    background-color: #e74f57;
    color: white;
    cursor: pointer;
}
/*fin del banner*/

/*
.ContenidoMedio{
    position: relative;
    overflow-x: hidden; /* textura aqui background-image: url('imagenes/textura2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    z-index: -2;
}*/
.ContenidoMedio{
    display: flex;
    justify-content: center;
    background-color:#fffbf0;
    z-index: 0;
}
/*.ContenidoMedio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}*/
.ProCat{
    text-align: center;
    max-width: 1800px;
    width: 100%;
}
.ti1, .ti2{
    font-weight:800;
    color: #c72a2a;
    font-size: 3vw;
    text-align: center;
    font-family: "Poppins", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.ti2{
    margin-top: 5%;
}
.ListaProDes{
    border-radius: 10px;
    padding: 20px;
    background-color: #c72a2a;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.ListaProDes img{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    height: 300px;
    width: 300px;
    max-height: 40vw;
    max-width:40vw;
    object-fit: cover;
    border-radius: 10px;
}
.producto img:hover{
    transition: background-color 0.3s ease, transform 0.5s;
    transform: translateY(-5px);
    cursor: pointer;
    opacity: 0.7;
}
.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}
.producto p:hover{
    color: rgb(255, 255, 255);
}
.ListaCat{
    
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ListaCat img{
    box-shadow: 0 4px 4px rgba(0.5, 0.5, 0.5, 0.5);
    height: 400px;
    width: 400px;
    max-height: 40vw;
    max-width: 40vw;
    object-fit: cover;
    border-radius: 10px;
}
.precio {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: 5px 15px;
    border-radius: 8px;
    color: white;
}
.cesta{
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    display: inline-block;
    margin-top: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    padding: 5px 15px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
}
.cesta:hover{
    color: white;
    transform: translateY(-5px);
    background-color: #e74f57;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.5s;
}

.categoria{
    border-radius: 22px;
    position: relative;
    width: fit-content;
    overflow: hidden;   
}
.categoria:hover{
    border-radius: 22px;
    cursor: pointer;
}
.categoria img {
    border-radius: 22px;
    transition: transform 1.0s ease;
}
.categoria:hover img {
  transform: scale(1.1); /* Zoom de la imagen */
}
.texto {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%);
    color: #f8d63d;
    padding: 10px 15px;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
/* agregando detalles*/
.footer {
    border-top: 3px solid #ffd412;
    background: linear-gradient(to right, #1c1c1c, #2c2c2c);
}
.ProCat {
    padding: 30px 20px;
}
.categoria, .footer, .contenedorde3 {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
    font-family:  "Poppins", sans-serif;
}
.footer h2 {
    font-size: 20px;
    color: #FFB957;
}

/* agregando detalles*/

li{
    list-style: none;
}

ul{
    padding: 0;
}

ul li {
    margin-bottom: 15px;
}

.footer a{
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    color: rgb(255, 255, 255,0.9); 
    text-decoration: none;
}

.footer a:hover{
    color: rgb(255, 255, 255);
    text-decoration: solid;
}

.footer{
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    gap: 15px;
    width: 100%;
    margin: 0;
}
/* agregando detalles2*/
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.barradearriba {
    background-color: #FFB957;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 1px 0;
    font-family: "Poppins", sans-serif;
}
.wrapper {
    flex: 1;
    transform: scale(1);
    transform-origin: top center;
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .divBdA {
        text-align: center;
        gap: 10px;
    }

    .divBdA a {
        padding: 5px 8px;
        display: block;
    }
    .boton, .divBdA a{
        font-size: 10px;
    }
    .contenedores a, .contenedores h2, .contenedores h3, .ti1, .ti2{
        font-size: 20px;
    }
    .ProCat, .ListaProDes{
        transform: scale(0.9);
        padding: 10px 10px;
    }
    .texto{
        font-size: 20px;
    }
    /*reducir px de las letras */
    .ItemsAD img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    }
    .tid img:hover {
    transform: scale(1);
    transition: transform 0.6s ease;
    cursor: pointer;
    }
    
    .aviso h2{
        font-size: 18px;
    }
    .aviso h3{
        font-size: 16px;
    }
    .aviso a{
        font-size: 14px;
    }
}